.secaoFaq {
    padding: 60px 20px;
    background-color: #F1F5F9;
    display: flex;
    justify-content: center;
}

.containerFaq {
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #7D0000;
    margin-bottom: 24px;
}

.menuFaq {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
}

.perguntaBtn {
    background: transparent;
    border: none;
    border-bottom: 2px solid #7D0000;
    padding: 16px;
    text-align: left;
    font-size: 1.125rem;
    font-weight: bold;
    color: #7D0000;
    cursor: pointer;
    transition: background 0.3s, border 0.3s;
    outline: none;
}

.perguntaBtn:hover {
    border-color: #7D0000;
    background-color: rgba(125, 0, 0, 0.1);
    border-radius: 10px;
}

.perguntaBtn.ativo {
    background-color: #7D0000;
    color: white;
    border-radius: 10px;
}

.respostaArea {
    background-color: transparent;
    color: #7D0000;
    padding: 24px;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.6;
    border-top: none;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}