@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: #6e1111;
}

.btn-primary {
    background-color: #6e1111;
    color: #FAFAFA;
    padding: 10px 24px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(110, 17, 17, 0.3);
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    user-select: none;
}

.btn-primary:hover {
    background-color: #a04646;
    box-shadow: 0 6px 20px #dd6767;
    transform: translateY(-2px);
}


section:nth-child(even),
header,
footer {
    background-color: #f1f5f9;
}

section:nth-child(odd) {
    background-color: #7D0000;
}

p {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    
}

.ericaText{
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6em;
}
