.metricaUnica {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.metricaUnica h3 {
    margin-bottom: 10px;
}

.metricaUnica h3 {
    color: #7c0000;
}


.metricaUnica>span {
    background-color: #7D0000;
    color: white;
    width: 60%;
    padding: 10px;
    border-radius: 8px;

}